<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>log-${byDay}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="ERROR"/>
        <appender-ref ref="console"/>

    </logger>

    <logger name="org.springframework.beans">
        <level value="ERROR"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.context">
        <level value="ERROR"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="ERROR"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.apache.http.headers">
        <level value="debug"/>
    </logger>

    <!-- confluence-tools logger-->
    <logger name="com.perxcel.confluence" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="file"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

</configuration>