<!doctype html>
<html th:fragment="layout (template, menu)">
    <head>
        <title>Java Getting Started on Heroku</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div th:replace="${template}"/>

        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--        <script type="text/javascript">-->
<!--			function copyToClipboard(element) {-->
<!--				var $temp = $("<input>");-->
<!--				$("body").append($temp);-->
<!--				$temp.val($(element).innerHTML()).select();-->
<!--				document.execCommand("copy");-->
<!--				$temp.remove();-->
<!--			}-->

<!--        </script>-->

    </body>