<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::body},'index')}" xmlns:th="http://www.thymeleaf.org">

    <body>

        <div class="jumbotron text-center">
            <div class="container">
                <a class="lang-logo" href="/">
                    <img src="/lang-logo.png">
                </a>
                <h3>Confluence Tools</h3>
                <p>This is a simple application to retrieve a Open Banking Standards Page Content,
                   and convert it to Markdown.</p>
            </div>
        </div>
        <div class="text-center">
            <div>
                <form action="#" th:action="@{/content}" th:object="${data}" method="post">
                    <p>Page Id:
                        <input type="text" th:field="*{pageId}"/>
                        <input type="submit" value="Submit"/>
                        <input type="reset" value="Reset"/></p>
                    <p>Page Id is the unique content id for a Confluence Page.</p>
                    <p>e.g. Page id for International Payments standard is 1077806166</p>
                    <p>https://openbanking.atlassian.net/wiki/spaces/DZ/pages/<b>1077806166</b>/International+Payments+v3.1.2
                    </p>
                </form>
            </div>
        </div>

    </body>
</html>
